.store-container h1{
    text-align: center;
  }
  
  .filters {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search {
        position: relative; 
      }
      
      .search input[type="text"] {
        padding: 8px 30px 8px 8px; 
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      
      .search-icon {
        width: 20px;
        height: 20px;
        position: absolute; 
        top: 50%; 
        right: 8px; 
        transform: translateY(-50%);
        cursor: pointer;
      }
  }
  
  .filters label {
    margin-right: 10px;
  }
  
  .filters select {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .filters input[type="text"] {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
  }
  
  .product img {
    max-width: 100%;
    background-color: #d7d7d7;
  }

  .product span {
    text-align: start;
    color: #676767;
  }
  .product .cart{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    button {
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        background-color: #dfdfdf; 
        transition: background-color 0.3s;
    }
    button:hover{
        background-color: #3b3b3b; 
        color: white;
    }
    p{
        font-weight: bold;
    }
  }
  