.cart-container {
  
  padding: 50px 100px 50px 100px;
}

.cart-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-items {
  display: block;
}
.clear-btn {
  padding: 10px;
  background-color: crimson;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  border: none;
  cursor: pointer;
}

.cart-item {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #ffffff8d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px; 
  width: auto;
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
}

.item-image {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  margin-right: 10px;
}

.item-details p,h4{
  margin: 3px;
}

.pricing {
  width: 120%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  margin: 3px;
}

.quantity input{
  padding: 5px;
  width: 25%;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.cart-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-summary p{
  margin: 3px;
  font-weight: 600;
}

.checkout-btn {
  padding: 8px 14px 8px 14px;
  background-color: #3e69cd;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  
}

.checkout-btn:hover {
  background-color: #2f3b55;
}

/* .cart-container {
  display: flex;
  justify-content: space-between;
}

.cart-items-container {
  flex: 1;
  margin-right: 20px;
  padding: 50px;
}

.cart-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-header .clear-btn {
  padding: 10px;
  background-color: crimson;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  border: none;
  cursor: pointer;
}

.cart-item {
  position: relative;
  width: 80%;
  background-color: #ffffff8d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px; 
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
}

.product {
  display: flex;
  align-items: center;
}

.product-image {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  margin-right: 10px;
}

.product-details p,h4{
  margin: 3px;
}

.total{
  
}

.price-quantity {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  font-weight: 500;
}

.quantity input{
  padding: 5px;
  width: 25%;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.amount {
  margin-top: 10px;
  font-weight: 500;
}

.cart-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.cart-summary p{
  font-weight: 600;
}

.checkout-btn {
  padding: 8px 14px 8px 14px;
  background-color: #3e69cd;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  
}

.checkout-btn:hover {
  background-color: #2f3b55;
}

 */